/* universal */

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
}

header ul li a {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: #fff;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 5px 20px 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    transition: 0.5s;
    color: #555;
    &:hover {
      text-decoration: none;
      color: #222;
      opacity: 0.5;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
